{
	default_sni {$SERVER_HOST}
}

{$SERVER_HOST}, {$SERVER_IP} {
	handle_path /phpmyadmin/* {
		reverse_proxy host.docker.internal:8081
	}
	handle /phpmyadmin {
		redir /phpmyadmin/ permanent
	}
	reverse_proxy host.docker.internal:8080
	tls internal
}

:80 {
	redir https://{host}{uri} permanent
}
