# IP-Zugriff: Weiterleitung auf Hostname
{$SERVER_IP:} {
	redir https://{$SERVER_HOST:localhost}{uri} permanent
	tls internal
}

# Hauptseite ueber Hostname
{$SERVER_HOST:localhost} {
	handle_path /phpmyadmin/* {
		reverse_proxy host.docker.internal:8081
	}
	handle /phpmyadmin {
		redir /phpmyadmin/ permanent
	}
	reverse_proxy host.docker.internal:8080
	tls internal
}
